.text-about-div {
    margin-top: 2vh;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.text-div{
    width: 100%;
    text-align: center;
}
.first-column{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.second-column{
    display: flex;
    margin-top: 3vh;
    align-items: baseline;
}
.bh, .olinda{
    margin-left: 2vh;
}
.bh{
    width: 250px;
}
.bh img{
    width: 100%;
    height: auto;
}
.minas{
    width: 500px;
}
.ouro-preto{
    width: 180px;
}
.ouro-preto img{
    width: 100%;
    height: auto;
}
.minas img{
    width: 100%;
    height: auto;
}
.brasilia{
    width: 250px;
    margin-right: 3vh;
}
.brasilia img{
    width: 100%;
    height: auto;
}
.paraty{
    width: 160px;
}
.paraty img{
    width: 100%;
    height: auto;
}
.ufrj{
    width: 180px;
    height: 120px;
    margin-right: 7vh;
}
.funarte{
    width: 280px;
    height: 200px;
}
.brasao{
    width: 80px;
    margin-left: 8vh;
}
.brasao img{
    width: 100%;
    height: auto;
}
.saoluis{
    width: 190px;
    margin-left: 6vh;
}
.saoluis img{
    width: 100%;
    height: auto;
}
.patria{
    width: 400px;
    height: 250px;
}
.patria img{
    width: 100%;
    height: auto;
}
.funarte img{
    width: 100%;
    height: auto;
}
.logo-row-top{
    display: inline-block;
    padding: 20px;
    
}
.logo-row{
    display: flex;
    align-items: baseline;
    padding: 20px;
}
.ufrj img{
    width: 100%;
    height: auto;
}

.main-title{
    background-color: #E7C032;
    font-family: 'Amatic SC', 'cursive';
    font-weight: bold;
    padding: 0.25em;
    margin-top: 5vh;
    font-size: 1em;
}

.logoss {
    width: 20vw;
    margin-left: 2vw;
}

.logo-row {
    margin-top: 5vh;
}

@media only screen and (max-width: 700px){
    .logoss {
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 1200px){
    .logoss {
        width: 16vw;
    }
}