.breadcrumb {
    margin-top: 5vh;
    background-color: inherit !important;
}

.fontspan {
    font: 400 1.3em 'Barlow Semi Condensed', sans-serif !important;
}

.colorspan {
    background-color: #E7C032 !important;
    padding: 0.25em;
    left: 0;
    margin-left: -1vw;
}

.img-not {
    width: 100% !important;
}

.volte {
    background-color: #E7C032 !important;
    padding: 0.25em;
    border-radius: 0 !important;
    font: 500 1em 'Barlow Semi Condensed', sans-serif !important;
    float: right;
    margin: 3vh;
    margin-top: 0;
}

@media only screen and (max-width: 400px) {

    .fontspan {
      font-size: 0.8em !important;
    }
  
  }