.title-imprensa {
    text-align: center;
    font: 500 32px 'Barlow Semi Condensed', sans-serif;
}

.imprensa-div {
    margin-top: 5vh;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}

.subtitle-imprensa {
    font: 500 20px 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    margin-top: 3vh;
}

.textos{
    padding: 16px;
}

.textos strong{
    text-decoration: underline;
    color: blue;
}