html,
body,
.wrapper {
  min-height: 535px;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.content {
  flex: 1;
}

.footer-container {
    background-color: #E7C032;
}

.bloco {
    height: 50px;
    width: 100%;
    display: inline-block;
    bottom: 0;
    font: 400 15px 'Barlow Semi Condensed', sans-serif !important;
    padding: 0;
    margin: 0;
    
}

.grey {
    background-color: lightgrey;
    width: 100%;
    text-align: left;
    height: 120px;
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.grey a,
.grey .contato p{
  font-size: 1.1em !important;
}

/* .apoio {
    text-align: right;
    position: absolute;
    right: 2vh;
} */

.apoio {
  display: flex;
  flex-direction: row-reverse;

}

/* .ufrj-logo {
    height: 35px;
}

.funarte-logo {
    height: 30px;
} */

.logo {
  height: 4vh;
  margin: 0 0.25em;
}

.copyright {
    position: absolute;
    margin-top: 20px;
    left: 2vw;
    font: 400 15px 'Barlow Semi Condensed', sans-serif !important;
}

.link {
  text-decoration: inherit;
  color: black;
  font: 400 1.3em 'Barlow Semi Condensed', sans-serif !important;
}

.footer-text {
  font: 400 1.3em 'Barlow Semi Condensed', sans-serif !important;
}

.footer-title {
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-weight: bold;
}

.inst {
  position: absolute;
  margin-right: 8vh;
  right: 275px;
}

.grey {
  display: flex;
  flex-direction: row-reverse;
}

.grey  div {
  float: right;
  margin: 0 2em;
}

@media only screen and (min-width: 701px) {

  .contato {
    padding-right: 10vw;
  }

  .inst {
    padding-right: 5vw;
  }
}
@media only screen and (min-width: 286){
  .grey .contato{
    display: none;
  }
}


@media only screen and (min-width: 701px) and (max-width: 1000px) {

  .copyright {
    font-size: 0.9em !important;
  }
}

@media only screen and (max-width: 700px) {

  .inst {
    right: unset;
    left: 20px;
  }

  .contato {
    right: 20px;
  }
  
  .footer-title {
    margin-top: 2vh; 
  }

  .bloco {
    height: 100px;
  }

  .copyright {
    font-size: 0.6em !important;
  }

  .logo {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 400px) {

  .link, .footer-text {
    font-size: 0.8em !important;
  }

  .contato {
    right: 5px !important;
  }

  .inst {
    left: 5px !important;
  }

}
@media only screen and (max-width: 821px){
  .grey .institucional {
    display: none;
  }
}
@media only screen and (max-width: 345px){
  .grey{
    display: none;
  }
}