html,
body,
.wrapper {
  min-height: 535px;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.footer-img{
  width: 130px;
}
.footer-img img{
  width: 100%;
  height: auto;
}
.content {
  flex: 1;
}

.footer-container {
    background-color: #E7C032;
    margin-top: 10vh;
}

.bloco {
    height: 12vh;
    width: 100%;
    display: inline-block;
    bottom: 0;
    font: 400 15px 'Barlow Semi Condensed', sans-serif !important;
    padding: 0;
    margin: 0;
    
}
.grey{
  background-color: lightgrey;
  width: 100%;
}
.grey .footer-content{
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 30px;
    padding-top: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.grey .footer-content .contents{
  display: flex;
  justify-content: space-between;
}

.institucional{
  margin-right: 5vh;
}
.grey a,
.grey .contato p{
  font-size: 1.1em !important;
}

.apoio {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row-reverse;
  right: 5vh;
  position: absolute;
  margin-top: 15px;
}

/* .ufrj-logo {
    height: 35px;
}

.funarte-logo {
    height: 30px;
} */

.logo {
  height: 4vh;
  margin: 0 0.25em;
}

.copyright {
    position: absolute;
    margin-top: 15px;
    left: 2vw;
    font: 400 15px 'Barlow Semi Condensed', sans-serif !important;
}

.link {
  text-decoration: inherit;
  color: black;
  font: 400 1.3em 'Barlow Semi Condensed', sans-serif !important;
}

.footer-text {
  font: 400 1.3em 'Barlow Semi Condensed', sans-serif !important;
}

.footer-title {
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-weight: bold;
}
.grey .acesso {
  text-align: right;
}
.grey .footer-content .redes{
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 13vh;
  text-align: left;
}
.grey .redes a + a {
  margin-left: 1vh;
}

.redes-icons{
  width: 30px;
  height: 30px;
}


@media only screen and (min-width: 701px) {

  .contato {
    padding-right: 2vw;
  }

}
@media only screen and (min-width: 286){
  .grey .contato{
    display: none;
  }
}


@media only screen and (min-width: 701px) and (max-width: 1000px) {

  .copyright {
    font-size: 0.9em !important;
  }
}

@media only screen and (max-width: 700px) {

  .contato {
    margin-right: 20px;
  }
  
  .footer-title {
    margin-top: 2vh; 
  }
  .copyright {
    font-size: 0.6em !important;
  }

  .logo {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 400px) {

  .link, .footer-text {
    font-size: 0.8em !important;
  }

  .contato {
    right: 5px !important;
  }

  .inst {
    left: 5px !important;
  }

}
@media only screen and (max-width: 821px){
  .grey .institucional{
    display: none;
  }
  .grey {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 345px){
  .grey{
    display: none;
  }
}
@media only screen and (max-width: 630px){
  .grey .contato{
    display: none;
  }
  .grey{
    display: flex;
    justify-content: space-between;
  }
}